:root {
  --text-col: black;
  --flash-col: white;
  --bg-col: rgb(238, 241, 255);
  --lightest: rgb(210, 218, 255);
  --mid: rgb(170, 196, 255);
  --dark: rgb(177, 178, 255);
  --red: rgb(248, 101, 101);
  --green: rgb(80, 255, 92);

}

body {
  background-color: var(--lightest);
  font-family: 'Roboto Flex', sans-serif;
  animation-duration: 1s;
}

@keyframes flashWrongBg {
  0% {background-color: var(--lightest);}
  5% {background-color: var(--red);}
  75% {background-color: var(--red);}
  100% {background-color: var(--lightest);}
}

@keyframes flashCorrectBg {
  0% {background-color: var(--lightest);}
  5% {background-color: var(--green);}
  75% {background-color: var(--green);}
  100% {background-color: var(--lightest);}
}

button {
  cursor: pointer;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr .7fr;
  width: 600px;
  height: 800px;
  margin: auto;
  border-radius: 3%;
  background-color: var(--lightest);
}

header {
  grid-row: 1;
  font-family: 'Gaegu', cursive;
  text-align: center;
  font-size: 4rem;
  letter-spacing: .2rem;
  word-spacing: 120%;
  text-shadow: .2rem .2rem var(--dark);
  margin-top: 1.5rem;
}

.game-main {
  grid-row: 2;
  position: relative;
  height: 550px;
}

.game-details {
  display: flex;
  height: 50px;
  width: 500px;
  margin: auto;
}

#level-label, #timer-label {
  width: 50%;
  line-height: 50px;
  font-size: 1.5rem;
}

#level-label {
  text-align: left;
}

#timer-label {
  text-align: right;
  display: none;
}

#level, #timer {
  display: inline-block;
  width: 5rem;
}

#timer {
  text-align: center;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  width: 500px;
  height: 500px;
  margin: auto;
  cursor: pointer;
}

.grid-button {
  border-radius: 10%;
  background-color: var(--dark);
}

.flashing-grid-button {
  animation-name: flashButton;
  animation-duration: 0.7s;
}

@keyframes flashButton {
  0% {background-color: var(--dark);}
  5% {background-color: var(--flash-col);}
  75% {background-color: var(--flash-col);}
  100% {background-color: var(--dark);}
}

.overlay-start,
.overlay-end {
  position: absolute;
  width: 500px;
  height: 500px;
  z-index: 10;
  border-radius: 10%;
  background-color: var(--dark);
  text-align: center;
  align-items: center;
  flex-direction: column;
  cursor: default;
}

.overlay-start {
  display: flex;
  font-size: 1.2rem;
}

.overlay-end {
  display: none;
  font-size: 3rem;
}

.overlay-start p,
.overlay-end p {
  margin: 3rem;
  line-height: 2.5;
}

.overlay-start button,
.overlay-end button {
  font-family: 'Gaegu', cursive;
  font-size: 1.5rem;
  font-weight: bold;  
  padding: 0.7rem 1rem 0.7rem 1rem;
}

.settings-menu {
  display: flex;
}

.settings-button {
  width: 20%;
  display: grid;
}

.settings-button button {
  place-self: center;
  height: 50px;
  width: 50px;
  border: none;
  background-color: var(--lightest);
}

.material-icons {
  font-weight: bold;
  font-size: 50px; 
}

.material-icons:hover {
  color: var(--bg-col);
}